.entry-list__item {
  height: 10;
  padding: 5;
}

.entry-list__item__col {
  margin-left: 5;
  vertical-align: center;
}

.entry-list__item__col--start-time {}
.entry-list__item__col--pee {}
.entry-list__item__col--poo {}
.entry-list__item__col--method {}
.entry-list__item__col--amount {}
