.entry-list__item {}

.entry-list__item__col {
  padding: 10 0 10;
  margin-left: 5;
  font-size: 18;
  vertical-align: center;
}

.entry-list__item__col--start-time { width: 50; }
.entry-list__item__col--pee { width: 65; }
.entry-list__item__col--poo { width: 65; }
.entry-list__item__col--method { width: 95; }
.entry-list__item__col--amount { width: 100; }
